@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ken Cheng<br />
    MedIT -- Application Services<br />
    <abbr title="Phone">P:</abbr>
    604.827.3126 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ken.cheng@ubc.ca">ken.cheng@ubc.ca</a><br />
</address>