
@{
    ViewBag.Title = "EAForm";
}

<h2>EAForm</h2>
<h3>@ViewBag.Message</h3>
<table>
    <tr><td>Course:</td><td><input id="txtCourse" type="text" /></td></tr>
    <tr><td>Block/Week Title:</td><td><input id="txtBlock" type="text" /></td></tr>
    <tr><td>Activity Title:</td><td><input id="txtActivity" type="text" /></td></tr>
</table>
 <br />
 <br />
<input id="btnSave" type="button" value="Save" /><input id="btnReset" type="reset" value="Cancel Changes" /><input id="btnSubmit" type="submit" value="Submit" />