@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1>Educational Activity Management Tool</h1>
    <p class="lead">Welcome to the Educational Activity (EA) Management Tool.</p>
</div>

<div class="row-fluid" style="padding-bottom:2em;">
    <div class="span4">
        <h2>Import EA forms</h2>
        <p>
            This is where you import one45 extracted Excel files.
        </p>
        <p><a class="btn btn-default" href="/Import/Import">Go &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Search EA forms</h2>
        <p>This is where you search EA forms that already exist in the system.</p>
        <p><a class="btn btn-default" href="/EAForms">Go &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Create new EA form</h2>
        <p>This is a blank EA form you can use to create new sessions.</p>
        <p><a class="btn btn-default" href="/EAForms/Create">Go &raquo;</a></p>
    </div>
</div>